@charset "UTF-8";
#bgvidHeart {
  min-width: 100%;
  min-height: 100%;
  background: url(../img/video-BG11.jpg) no-repeat fixed center top;
  position: fixed;
  z-index: -100;
  background-size: cover; }

.login-top {
  height: 55px;
  width: 100%;
  background-color: #fff;
  opacity: 0.8;
  z-index: 999;
  position: absolute;
  top: 0; }
  .login-top .logMain {
    width: 1000px;
    height: 100%;
    margin: 0 auto; }
    .login-top .logMain .logLogo {
      width: 170px;
      height: 100%;
      float: left;
      background: url(../img/logo.png) no-repeat center center; }
    .login-top .logMain .logCode {
      height: 55px;
      margin-right: 150px;
      float: right;
      background-color: #fff; }
      .login-top .logMain .logCode .codeTitle {
        color: #666;
        font-size: 18px;
        margin-top: 8px;
        height: 40px;
        overflow: hidden;
        text-align: center;
        word-spacing: 10px; }
        .login-top .logMain .logCode .codeTitle b {
          font-size: 26px;
          font-weight: normal;
          vertical-align: baseline; }
        .login-top .logMain .logCode .codeTitle span {
          color: #fb6c80; }
        .login-top .logMain .logCode .codeTitle em {
          text-indent: -9999px;
          font-style: normal;
          width: 25px;
          height: 25px;
          display: inline-block;
          margin: 0 2px;
          background: url(../img/icon-scale-.png) no-repeat center center; }
        .login-top .logMain .logCode .codeTitle a {
          color: #aaa;
          font-size: 18px; }
    .login-top .logMain .more-bu {
      width: 300px;
      height: 148px;
      background-color: #fff;
      position: relative;
      top: 20px;
      left: 535px;
      display: none; }
      .login-top .logMain .more-bu dd {
        float: left;
        margin-right: 37px;
        margin-left: 38px;
        width: 75px;
        height: 115px;
        text-align: center;
        color: #222;
        margin-top: -58px; }
        .login-top .logMain .more-bu dd p {
          padding-top: 80px;
          line-height: 15px; }
      .login-top .logMain .more-bu .subscribe {
        background: url(../img/code-MK-wx.jpg) no-repeat 0 0; }
      .login-top .logMain .more-bu .service {
        background: url(../img/code-MK-service.jpg) no-repeat 0 0; }
      .login-top .logMain .more-bu .codeHide {
        height: 30px;
        width: 100%;
        display: block;
        cursor: pointer;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -5px; }
        .login-top .logMain .more-bu .codeHide a {
          color: #aaa;
          font-size: 18px; }

.sectionFirst {
  width: 710px;
  height: 200px;
  position: absolute;
  top: 50%;
  z-index: 10;
  margin-top: -100px;
  left: 50%;
  margin-left: -355px; }
  .sectionFirst .logReg {
    height: 38px;
    width: 486px;
    margin: 0 auto;
    margin-top: 120px;
    opacity: .9; }
    .sectionFirst .logReg a:hover {
      opacity: .8; }
    .sectionFirst .logReg a {
      height: 35px;
      line-height: 35px;
      display: inline-block;
      width: 230px;
      color: #fff;
      font-size: 18px;
      text-align: center; }
    .sectionFirst .logReg .logLink {
      margin-right: 20px;
      background-color: #ee4d9b; }
    .sectionFirst .logReg .regLink {
      background-color: #fff;
      color: #313131; }

.loginFooter {
  position: absolute;
  height: 80px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  color: #000;
  font-size: 12px;
  bottom: 0; }
  .loginFooter a {
    color: #2a2324; }
  .loginFooter div {
    width: 300px;
    margin: 0 auto;
    text-align: center; }
    .loginFooter div a {
      display: inline-block;
      height: 20px;
      line-height: 20px; }
      .loginFooter div a img {
        float: left; }
      .loginFooter div a p {
        float: left;
        height: 20px;
        line-height: 20px;
        margin: 0 0 0 5px;
        color: #939393; }

.loginForm {
  width: 420px;
  display: block;
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  margin-top: -116.5px;
  margin-left: -210px;
  font-size: 14px;
  display: none;
  background: url(../img/reg_btn_BG85.png) repeat left top; }
  .loginForm .loginBox {
    padding: 40px 35px 30px 35px;
    vertical-align: baseline; }
    .loginForm .loginBox .loginClose {
      width: 12px;
      height: 12px;
      background: url(../img/icon-close.png) no-repeat center center;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer; }
    .loginForm .loginBox .errorBox {
      background: none repeat scroll 0 0 #fdeee9;
      padding: 3px;
      height: auto;
      min-height: 25px;
      line-height: 26px;
      color: #4d4d4d;
      overflow: hidden;
      position: relative;
      margin-bottom: 10px;
      display: none; }
      .loginForm .loginBox .errorBox .iconfont {
        width: 16px;
        height: 16px;
        display: block;
        left: 5px;
        position: absolute;
        line-height: 20px;
        top: 5px;
        cursor: pointer;
        background: url(../img/icon-error.png) no-repeat left top; }
      .loginForm .loginBox .errorBox .error-text {
        display: block;
        line-height: 20px;
        padding-left: 26px;
        text-align: left; }
    .loginForm .loginBox .usernameFiled {
      position: relative; }
      .loginForm .loginBox .usernameFiled i {
        width: 27px;
        height: 20px;
        display: block;
        position: absolute;
        top: 7px;
        left: 10px; }
      .loginForm .loginBox .usernameFiled .input_text {
        padding: 8px 10px 8px 45px;
        width: 293px;
        height: 18px;
        font-size: 14px;
        font-family: 微软雅黑,Arial;
        border: 1px solid #c1c1c1;
        background-color: #fff;
        color: #999; }
    .loginForm .loginBox .passwordField {
      position: relative; }
      .loginForm .loginBox .passwordField i {
        width: 27px;
        height: 20px;
        display: block;
        position: absolute;
        top: 7px;
        left: 10px; }
      .loginForm .loginBox .passwordField .input_pass {
        padding: 8px 10px 8px 45px;
        width: 293px;
        height: 18px;
        font-size: 14px;
        font-family: 微软雅黑,Arial;
        border: 1px solid #c1c1c1;
        background-color: #fff;
        color: #999; }
      .loginForm .loginBox .passwordField .clear-pass {
        height: 30px;
        line-height: 30px; }
        .loginForm .loginBox .passwordField .clear-pass .passporterror {
          padding: 7px 0 9px;
          background-color: #fdeee9;
          line-height: 18px;
          height: 54px; }
        .loginForm .loginBox .passwordField .clear-pass .forgetPW {
          float: right;
          color: #FF5C72; }
    .loginForm .loginBox .validcodeField {
      overflow: hidden; }
      .loginForm .loginBox .validcodeField .input_text_code {
        width: 130px;
        padding: 8px 10px;
        float: left;
        font-size: 14px;
        height: 18px;
        border: 1px solid #c1c1c1;
        background-color: #f7f7f7;
        color: #999; }
      .loginForm .loginBox .validcodeField .veriFication {
        margin: 0 20px 0 10px;
        float: left;
        display: block;
        width: 78px;
        height: 35px;
        background-color: #f1f1f1;
        text-align: center;
        line-height: 35px;
        font-size: 18px;
        font-stretch: 30; }
      .loginForm .loginBox .validcodeField .changeValidCode {
        cursor: pointer;
        width: 90px;
        font-size: 14px;
        color: #333;
        float: left;
        line-height: 35px; }
    .loginForm .loginBox .submitarea {
      height: 35px; }
      .loginForm .loginBox .submitarea .input_submit {
        height: 35px;
        width: 350px;
        font-size: 18px;
        color: #fff;
        background-color: #f73e3e;
        border: none;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        outline: none; }
      .loginForm .loginBox .submitarea .input_submit:hover {
        opacity: .8; }
    .loginForm .loginBox .WX-acc {
      height: 40px;
      margin-top: 5px;
      line-height: 40px;
      font-size: 14px; }
      .loginForm .loginBox .WX-acc b {
        width: 23px;
        height: 40px;
        display: block;
        float: left;
        margin-right: 5px;
        background: url(../img/icon-wxlogo.png) no-repeat center center; }
      .loginForm .loginBox .WX-acc a {
        color: #333;
        cursor: pointer; }
      .loginForm .loginBox .WX-acc a:hover {
        color: #999; }
      .loginForm .loginBox .WX-acc .wx-log {
        float: left; }
      .loginForm .loginBox .WX-acc .regLink {
        float: right;
        cursor: pointer; }

.opacityDiv {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  opacity: .3;
  display: none; }
